{% extends 'base.html '%}

<!--? Espacio Para Poner La Vista-->
    {%block content%}
        {% for mensaje in get_flashed_messages()%}
            <div class="alert alert-success alert-dismissable">
                <button type="button" 
                data-dismiss="alert" 
                class="close">
                &times;
                </button>

                {{ mensaje }}
            </div>
        {% endfor %}
    <h1>Lista De Productos 😎</h1>
<table class="table tabla-bodered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
            <th>Actualizar</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos%}
        <tr>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio}}</td>
            <td><img src="imagenes//{{ producto.imagen}}" alt="" width="100px" height="100px"></td>
            <td>
                <a href="/productos/editar/{{producto.id}}">
                    Actualizar
                </a>
            </td>
            <td>
                <a href="/productos/eliminar/{{producto.id}}">
                    eliminar
                </a>
            </td>
        </tr>
        {%endfor%}

    </tbody>
</table>    
    {%endblock%}

